*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding:0;
}

h3{
  font-family: "Raleway", "sans-serif";
  margin: 10px;
}

p{
  font-family: "Raleway", "sans-serif";
}


nav{
  position: fixed;
  background-color: rgba(250, 227, 249, 0.555);
  width: 100%;
  z-index: 2;
  height: 3rem;
}

nav ul{
  list-style: none;
  display: inline-flex;
  gap: 30px;
  float: right;
  margin-right: 5%;
  margin-top: 0%;
}

nav a{
  text-decoration: none;
  color: black;
  font-family: "Raleway", "sans-serif";
}

nav li{
  padding: 10px;
}

nav li:hover{
  background-color: rgb(241, 166, 205);
}

nav img{
  float: left;
  height: 13vh;
  margin-left: 5%;
}

header{
    display: flex;
    position: relative;
    background-image: url(images/HeaderBackground.jpg);
    height: 100vh;
    background-size: cover;
    z-index: 0;
}


header::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M100,0 A100,100 0 0,0 0,100 L0,0 Z" fill="white"/></svg>') top/cover no-repeat;
  z-index: -1;
}


header img{
  border-radius: 50%;
  align-self: center;
  margin-left: 7%;
  height: 70vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h1{
  font-family: "Charm", sans-serif;
    color: rgb(0, 0, 0);
    justify-self: center;
    font-size: 150px;
    width: 100px;
    direction: rtl;
    margin-left: 17%;
    margin-top: 7%;
    text-shadow: 3px 3px #75757569;
}


.header-textbox{
  background-color: rgba(240, 248, 255, 0.521);
  align-self: flex-end;
  height: 25vh;
  width: 24.5%;
  margin-bottom: 5%;
  margin-left: 6%;
  font-family: "Raleway", "sans-serif";
  text-align: center;
}

.aboutMe{
    display: flex;
    position: relative;
    background-image: url(images/aboutMeBackground.jpg);
    height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-top: 1%;
}

.aboutMe::before{
  content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M100,0 A100,100 0 0,0 0,100 L0,0 Z" fill="white"/></svg>') top/cover no-repeat;
    z-index: -1;
    transform: rotate(180deg);
}

#dogImg{
  height: 70vh;
  border-radius: 10%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.aboutMe h2{
  font-size: 70px;
  position: absolute;
  justify-self: center;
  align-self: flex-start;
  margin-top: 8%;
  font-family: "Raleway", "sans-serif";
}

.aboutMe-textbox{
  display: flex;
  background-color: rgba(240, 248, 255, 0.521);
  height: 60vh;
  width: 50%;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 5%;
  font-family: "Raleway", "sans-serif";
}

.me{
  align-self: center;
  font-size: 23px;
  padding-left: 20px;
  padding-right: 20px;
}

.skills{
    display: flex;
    position: relative;
    background-image: url(images/Skills-background.jpg);
    height: 100vh;
    background-size: cover;
    z-index: 0;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
}

.skills::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M100,0 A100,100 0 0,0 0,100 L0,0 Z" fill="white"/></svg>') top/cover no-repeat;
  z-index: -1;
}

.skills h2{
  font-size: 70px;
  position: absolute;
  justify-self: center;
  align-self: flex-start;
  margin-top: 8%;
  font-family: "Raleway", "sans-serif";
}

.skills-textbox{
  display: flex;
  background-color: rgba(240, 248, 255, 0.521);
  height: 50vh;
  width: 60%;
  text-align: center;
  margin-bottom: 10%;
  font-family: "Raleway", "sans-serif";
  align-self: flex-end;
  justify-content: space-evenly;
  align-items: center;
}

.skill-logo{
  height: 150px;
}

.projects{
  display: flex;
  position: relative;
  background-image: url(images/projects-background.jpg);
  height: 100vh;
  background-size: cover;
  z-index: 0;
  margin-top: 1%;
  align-items: flex-end;
  justify-content: center;
  gap: 7%;
}

.projects::before{
  content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M100,0 A100,100 0 0,0 0,100 L0,0 Z" fill="white"/></svg>') top/cover no-repeat;
    z-index: -1;
    transform: rotate(180deg);
}

.projects h2{
  font-size: 70px;
  position: absolute;
  justify-self: center;
  align-self: flex-start;
  margin-top: 8%;
  font-family: "Raleway", "sans-serif";
}

.project-card{
  border: solid 1px rgba(0, 0, 0, 0.253);
  border-radius: 5%;
  font-family: "Raleway", "sans-serif";
  width: 20%;
  height: 55vh;
  background-color: rgba(240, 248, 255, 0.521);
  margin-bottom: 5%;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.projects img{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.button{
  display: flex;
  text-decoration: none;
  justify-self: center;
  color: black;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(243,130,188);
  padding: 2%;
  border-radius: 10%;
  margin: 10px;
}

.button:hover{
  background-color: rgb(241, 166, 205);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.references{
  display: flex;
  position: relative;
  background-image: url(images/references-background.jpg);
  height: 100vh;
  background-size: cover;
  z-index: 0;
  margin-top: 1%;
  align-items: flex-end;
  justify-content: center;
  gap: 7%;
}

.references::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M100,0 A100,100 0 0,0 0,100 L0,0 Z" fill="white"/></svg>') top/cover no-repeat;
  z-index: -1;
}

.references h2{
  font-size: 70px;
  position: absolute;
  justify-self: center;
  align-self: flex-start;
  margin-top: 8%;
  font-family: "Raleway", "sans-serif";
}

.reference-card{
  border: solid 1px rgba(0, 0, 0, 0.253);
  border-radius: 5%;
  font-family: "Raleway", "sans-serif";
  width: 20%;
  height: 55vh;
  background-color: rgba(240, 248, 255, 0.521);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
  text-align: center;
}

.references img{
  border-radius: 50%;
  width: 70%;
  justify-self: center;
  margin-top: 30px;
}

.citing{
  font-family: "Raleway", "sans-serif";
  font-style: italic;
  margin-top: 20px;
}

.name{
  margin-top: 15px;
  margin-bottom: 0;
}

.contact{
  display: flex;
  position: relative;
  background-image: url(images/contact-img.jpg);
  height: 100vh;
  background-size: cover;
  z-index: 0;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
}

.contact::before{
  content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M100,0 A100,100 0 0,0 0,100 L0,0 Z" fill="white"/></svg>') top/cover no-repeat;
    z-index: -1;
    transform: rotate(180deg);
}

.contact h2{
  font-size: 70px;
  position: absolute;
  justify-self: center;
  align-self: flex-start;
  margin-top: 8%;
  font-family: "Raleway", "sans-serif";
}

.contact-box{
  background-color: rgba(240, 248, 255, 0.521);
  height: 60vh;
  width: 60%;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Raleway", "sans-serif";
  align-self: flex-end;
}



footer{
  display: flex;
  height: 6rem;
  background-color: rgba(250, 227, 249, 0.555);
  font-family: "Raleway", "sans-serif";
  justify-content: center;
  gap: 30px;
  align-items: center;
}

footer a{
  text-decoration: none;
  color: black;
  font-size: xx-large;
}


@media (max-width: 768px){
  header{
    flex-direction: column;
  }
  header img{
    height: 40vh;
    margin-top: 6%;
  }
  h1{
    font-size: 75px;
    align-self: center;
    margin: 5%;
  }
  .header-textbox{
    align-self: center;
  }

  .aboutMe{
    flex-direction: column;
  }

  .aboutMe h2{
    position: static;
    align-self: center;
  }

  .aboutMe-textbox{
    align-self: center;
  }

  #dogImg{
    align-self: center; 
    height: 40vh;
    margin-top: -15%;
  };

  .skills{
    flex-direction: column;
  }

  .skills h2{
    position: static;
    align-self: center;
  }

  .skills-textbox{
    align-self: center;
  }

  .projects{
    flex-direction: column;
  }

  .projects h2{
    position: static;
    align-self: center;
  }

  .project-card{
    align-self: center;
  }
}
